.cart-tray {
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 450px;
  padding: 12px;
  z-index: 10;
  transform: translateX(450px);
  transition: transform 300ms;
  border-left: 1px solid #eee;
  box-shadow: -1px 0px 26px -6px rgba(0,0,0,0.5);

  &.opened {
    transform: translateX(0);
  }

  td:nth-child(2) {
    padding: 12px;
  }
  td {
    padding-top: 12px;
    padding-bottom: 12px;
    vertical-align: middle;
  }

  .adjust-quantity {
    margin: 0 6px;
  }

  .total-row {
    font-weight: bold;
  }
}