.cart-tray {
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  padding: 12px;
  z-index: 1;
  transform: translateX(400px);
  transition: transform 300ms;

  &.opened {
    transform: translateX(0);
  }

  td:nth-child(2) {
    padding: 12px;
  }
  td {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}