.cart-button {
  background-color: #1f7a9b !important;
}

.cart-tray {
  background: white;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 450px;
  padding: 12px;
  z-index: 10;
  transform: translateX(450px);
  transition: transform 300ms;
  border-left: 1px solid #eee;
  box-shadow: -1px 0px 26px -6px rgba(0,0,0,0.5);

  &.opened {
    transform: translateX(0);
  }



  .adjust-quantity {
    margin: 0 6px;
    border: 0px solid #dedede;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }

  .total-row {
    margin-top: 12px;
    font-weight: bold;
    display: flex;
    span:last-child {
      flex: 1;
      text-align: right;
    }
  }
}

.cart-contents {

  .cart-row {
    display: flex;
    margin: 12px 0;
    border-bottom: 1px dotted #ccc;
  }
  .row-image {
    margin-right: 12px;
  }
  .row-detail {
    flex: 1;
  }
  .qty-row {
    display: flex;
  }
  .row-total {
    flex: 1;
    text-align: right;
  }
}